     /*
reast
***********************************/
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 1rem;
}
a{
	// color: $link-color;
    text-decoration: none;
	&:hover,&:focus,&:active{
		text-decoration: none;
		outline: none;
	}
}
h1 {
    font-size: 2.25rem;
  }
  
  h2 {
    font-size: 1.875rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.125rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  p {
    font-size: .938rem;
  }
h1, h2, .h3, h4, h5, h6{
	margin: 0;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: inherit;
}
body{
    line-height: 1.5;
    background: #170E30;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}


// vh to px
$screenwidth: 750;
@function pxToVw($n) {
  	@return unquote($n * 100/$screenwidth+'vw');
}

// 全域共用
.img-responsive{
    max-width: 100%;
    height: auto;
}

.fullPage{
    background: url("../images/beauty-bg.webp") no-repeat center/cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-attachment:scroll;
    overflow-y: scroll;
    @media (max-width:1024px) {
        background: url("../images/beauty-bg-xs.webp") no-repeat center/cover;
    }
}
.app-download{
    position: relative;
    min-height: 75vh;
    padding: 5.6vw;
    display: flex;
    align-items: center;
    @media (max-width:1024px) {
        text-align: center;
        padding: 40vh 5.6vw 0;
        justify-content: center;
    }
}
.content{
    .logo-box{
        margin-bottom: 1rem;
        @media (max-width:1024px) {
            margin: 0;
        }
        .logo{
            @media (max-width:568px) {
                max-width: 64px;
            }
        }
    }
    .title-box{
        margin-bottom: 3rem;
        @media (max-width:1024px) {
            margin-bottom: 1rem;
        }
        .title-sm{
            display: none;
            @media (max-width:1024px) {
                display: block;
            }
        }
        .title-md{
            display: block;
            @media (max-width:1024px) {
                display: none;
            }
        }

    }
}

.download-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
    .btn-group,.qrocde-group{
        flex: 0 0 50%;
        max-width: 50%;
        @media (max-width:1024px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .btn-group{
        @media (max-width:1024px) {
            margin-bottom: 2rem;
        }
        .btn{
            max-width: 240px;
            margin: 0 auto;
            @media (max-width:1024px){
                max-width: inherit;
            }
        }
        .btn+.btn{
            margin-top: 1.5rem;
        }
    }
    .qrocde-group{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width:1024px) {
            margin: 1rem;
        }
        .text{
            margin: .5rem 0;
        }
    }
}

.icon-ios{
    display: flex;
    align-items: center;
    margin-right: .5rem;
    &::after{
        content: " ";
        background-image: url("../images/icon-apple.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        width:32px;
        height: 32px;
        transition: all .3s; 
    }
}
.icon-android{
    display: flex;
    align-items: center;
    margin-right: .5rem;
    &::after{
        content: " ";
        background-image: url("../images/icon-android.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        width:32px;
        height: 32px;
        transition: all .3s; 
    }
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    font-size: 1.125rem;
    transition: all .3s;
    border-radius: 36px;
}
.btn-ios{
    // min-width: 232px;
    background: linear-gradient(180deg, #9633FF 0%, #7E23FF 100%);
    box-shadow: 0px 4px 4px rgba(128, 36, 255, 0.24), inset 0px -4px 6px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
    color: #fff;  
    &:hover{
        background: linear-gradient(49deg,#9861f8,#ea58ec);
    }
}

.btn-android{
    background: linear-gradient(180deg, #F3E3FF 0%, #FAF4FF 100%);
    border: 2px solid #E9D2FF;
    color: #7A3CFF;
    &:hover{
        color: #ea58ec;
        .icon-android{
            &::after{
                background: url("../images/icon-android-hover.svg");
            }
        }
    }
}